**/tests/models/*
**/tests/glCaptures/*
**/tests/archive/*

**.directory
**/build/*
**/.vscode/ipch/**

*.kate-swp
*.log
*.o
builddir/meson-logs/meson-log.txt
builddir/meson-private/meson.lock
telabrium.code-workspace
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
